--- pgxc_ctl/pgxc_ctl.conf.orig 2018-01-17 13:08:43.990429023 +0000
+++ pgxc_ctl/pgxc_ctl.conf      2018-01-17 13:12:25.996801939 +0000
@@ -51,7 +51,8 @@
 pgxcInstallDir=$HOME/pgxc
 #---- OVERALL -----------------------------------------------------------------------------
 #
-pgxcOwner=$USER                # owner of the Postgres-XC databaseo cluster.  Here, we use this
+#pgxcOwner=$USER               # owner of the Postgres-XC databaseo cluster.  Here, we use this
+pgxcOwner={{ postgres_xl_user }}             # owner of the Postgres-XC databaseo cluster.  Here, we use this
                                                # both as linus user and database user.  This must be
                                                # the super user of each coordinator and datanode.
 pgxcUser=$pgxcOwner            # OS user of Postgres-XC owner
@@ -150,6 +151,7 @@
                                                                                                # If you'd like to setup another connection, you should
                                                                                                # supply these entries through files specified below.
 #coordPgHbaEntries=(127.0.0.1/32)      # Same as above but for IPv4 connections
+coordPgHbaEntries=({{ postgres_xl_network_cidr }})       # Same as above but for IPv4 connections

 #---- Master -------------
 coordMasterServers=()          # none means this master is not available
@@ -218,6 +220,7 @@
                                                                                # If you'd like to setup other entries, supply them
                                                                                # through extra configuration files specified below.
 #datanodePgHbaEntries=(127.0.0.1/32)   # Same as above but for IPv4 connections
+datanodePgHbaEntries=({{ postgres_xl_network_cidr }})    # Same as above but for IPv4 connections

 #---- Master ----------------
 datanodeMasterServers=()       # none means this master is not available.
