[Unit]
After=network.target

[Service]
Type=forking
User={{ postgres_xl_cluster_user }}
PIDFile={{ postgres_xl_cluster_coordinator_slave_data_dir }}/postmaster.pid
ExecStart=/usr/bin/ssh {{ postgres_xl_cluster_inventory_gtm_master }} {{ postgres_xl_cluster_user_home_dir_path }}/bin/pgxc_ctl start coordinator slave coordinator_{{ inventory_hostname | replace('-','_') }}
ExecStop=/usr/bin/ssh {{ postgres_xl_cluster_inventory_gtm_master }} {{ postgres_xl_cluster_user_home_dir_path }}/bin/pgxc_ctl stop coordinator slave coordinator_{{ inventory_hostname | replace('-','_') }}
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
