[Unit]
After=network.target

[Service]
Type=forking
User={{ postgres_xl_cluster_user }}
PIDFile={{ postgres_xl_cluster_gtm_proxy_data_dir }}/gtm_proxy.pid
ExecStart=/usr/bin/ssh {{ postgres_xl_cluster_inventory_gtm_master }} {{ postgres_xl_cluster_user_home_dir_path }}/bin/pgxc_ctl start gtm_proxy gtm_proxy_{{ inventory_hostname | replace('-','_') }}
ExecStop=/usr/bin/ssh {{ postgres_xl_cluster_inventory_gtm_master }} {{ postgres_xl_cluster_user_home_dir_path }}/bin/pgxc_ctl stop gtm_proxy gtm_proxy_{{ inventory_hostname | replace('-','_') }}
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
