[Unit]
After=network.target

[Service]
User={{ postgres_xl_cluster_user }}
PIDFile={{ postgres_xl_cluster_user_home_dir_path }}/gtm.pid
ExecStart=-{{ postgres_xl_cluster_user_home_dir_path }}/bin/gtm -D {{ postgres_xl_cluster_gtm_master_data_dir }} -l /var/log/postgres/gtm.log
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
