[Unit]
After=network.target

[Service]
Type=forking
User={{ postgres_xl_cluster_user }}
PIDFile={{ postgres_xl_cluster_gtm_master_data_dir }}/gtm.pid
ExecStart={{ postgres_xl_cluster_user_home_dir_path }}/bin/pgxc_ctl start gtm master
ExecStop={{ postgres_xl_cluster_user_home_dir_path }}/bin/pgxc_ctl stop gtm master
SuccessExitStatus=1
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
