[Unit]
After=network.target

[Service]
Type=forking
User={{ postgres_xl_cluster_user }}
PIDFile={{ postgres_xl_cluster_gtm_slave_data_dir }}/gtm.pid
ExecStart=/usr/bin/ssh {{ postgres_xl_cluster_inventory_gtm_master }} {{ postgres_xl_cluster_user_home_dir_path }}/bin/pgxc_ctl start gtm slave
ExecStop=/usr/bin/ssh {{ postgres_xl_cluster_inventory_gtm_master }} {{ postgres_xl_cluster_user_home_dir_path }}/bin/pgxc_ctl stop gtm slave
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
