[Unit]
After=network.target

[Service]
Type=forking
User={{ postgres_xl_user }}
PIDFile={{ postgres_xl_service_pid_file }}
ExecStart={{ postgres_xl_service_exec_start_cmd }}
ExecStop={{ postgres_xl_service_exec_stop_cmd }}
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
